<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <title><%= fontName %></title>
    <link href="<%= cssTemplate %>.css" rel="stylesheet">
  </head>
  <body>
    <h1><%= fontName %></h1>
    <ul class="glyphs">
      <li>
        <i class="icon">&#x1F1E8;&#x1F1F3;</i>
        <span class="glyph-name">chinaflag</span>
        <span class="glyph-codepoint">U+1F1E8 U+1F1F3</span>
      </li>
      <li>
        <i class="icon">&#x1F1EB;&#x1F1F7;</i>
        <span class="glyph-name">franceflag</span>
        <span class="glyph-codepoint">U+1F1EB U+1F1F7</span>
      </li>
    <% if ( fontName != 'flags' ) { %>
    <% _.each(glyphs, function(glyph) { if( glyph.codepoint.toString(16).toUpperCase().substring(0, 1) != "E") { %>
      <li>
        <i class="icon"><%= '&#x' + glyph.codepoint.toString(16).toUpperCase() + ';' %></i>
        <span class="glyph-name"><%= glyph.name %></span>
        <span class="glyph-codepoint"><%= glyph.codepoint.toString(16).toUpperCase() %></span>
      </li><% } }); %>
    <% } else if ( fontName == 'flags' ) { %>
    <% } %>
  </body>
</html>